@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    height: 550px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.219);
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
}

.container .card .form {
    width: 100%;
    height: 100%;
    display: flex
}

.container .card .left-side {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.151);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000
}

.progres_bar {
    counter-reset: progress 0
}

.progres_bar li {
    list-style: none;
    counter-increment: progress 1;
    position: relative;
    margin-bottom: 70px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px
}

.progres_bar li::before {
    position: absolute;
    content: counter(progress);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #000;
    z-index: 5;
    border: 2px solid #fff;
    background-color: #fff;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
    top: -8px;
    cursor: pointer;
    transition: all 0.5s
}

.progres_bar li::after {
    position: absolute;
    content: '';
    height: 90px;
    width: 4px;
    background-color: #fff;
    left: -25px;
    top: -70px
}

.progres_bar li:nth-child(1)::after {
    display: none
}

.progres_bar li.active::after {
    background-color: #fba504 !important
}

.progres_bar li.active {
    color: #fff !important
}

.progres_bar li:nth-child(1) {
    color: #fff
}

.progres_bar li:nth-child(1)::before {
    background-color: #fba504;
    color: #000 !important
}

.progres_bar li.active::before {
    background-color: #fba504 !important;
    color: #000 !important
}

.container .card .right-side {
    width: 60%;
    background-color: #fff;
    height: 100%;
    box-sizing: border-box;
    padding: 20px
}

.main {
    display: none
}

.active {
    display: block !important
}

.manage {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.manage p {
    font-size: 14px;
    margin-top: 10px
}

.input_div {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    width: 100%
}

.input_div textarea {
    height: 90px;
    width: 100%;
    outline: 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    box-sizing: border-box;
    transition: all 0.5s
}

.input_text {
    position: relative;
    width: 100%
}

input[type="text"],[type="date"] {
    height: 45px;
    width: 100%;
    outline: 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.5s
}

input[type="password"] {
    height: 45px;
    width: 100%;
    outline: 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.5s;
    padding-right: 30px
}

.input_text select {
    height: 45px;
    width: 100%;
    outline: 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.5s;
    cursor: pointer;
    color: #b1b1b1
}

.input_text select option:nth-child(1) {
    display: none
}

input[type="number"] {
    height: 45px;
    width: 100%;
    outline: 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.5s
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.shown_name {
    color: green !important
}

.fa-eye-slash {
    position: absolute;
    top: 14px;
    right: 7px;
    cursor: pointer;
    transition: all 0.5s;
    color: #b1b1b1
}

.fa-eye {
    position: absolute;
    top: 14px;
    right: 7px;
    cursor: pointer;
    transition: all 0.5s;
    color: #b1b1b1
}

.fa-eye {
    position: absolute;
    top: 14px;
    right: 7px;
    cursor: pointer;
    transition: all 0.5s;
    color: #b1b1b1
}

.input_text label {
    pointer-events: none;
    position: absolute;
    top: 14px;
    left: 5px;
    font-size: 14px;
    color: #b1b1b1;
    transition: all 0.5s
}

.input_text input:focus {
    border: 1px solid #6610f2 !important
}

.input_text input:focus~label,
.input_text input:valid~label {
    top: -20px;
    left: 0;
    color: #6f42c1;
    font-weight: 700
}

.agree {
    margin-top: 30px;
    display: flex;
    gap: 5px;
    width: 100% !important;
    align-items: center
}

.agree span {
    height: 20px;
    width: 20px !important;
    border-radius: 3px;
    border: 1px solid #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center
}

.agree span i {
    width: 100%;
    margin-top: 1px;
    color: #fff
}

.agree p {
    font-size: 14px
}

.agree p a {
    text-decoration: none
}

.agree_green {
    background-color: #6610f2 !important
}

.agree_submit {
    margin-top: 30px;
    display: flex;
    gap: 5px;
    width: 100% !important
}

.agree_submit span {
    height: 18px;
    width: 20px !important;
    border-radius: 3px;
    border: 1px solid #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s
}

.agree_submit span i {
    width: 100%;
    margin-top: 1px;
    color: #fff
}

.agree_submit p {
    font-size: 14px
}

.agree_submit_green {
    background-color: #6f42c1 !important
}

.button {
    display: flex;
    justify-content: end;
    margin-top: 20px
}

.button button {
    height: 45px;
    width: 30%;
    border-radius: 5px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    color: #fff;
    font-size: 13px;
    background-color: #fba504
}

.button button:hover {
    background-color: #ac7000 !important
}

.step_1 {
    margin-top: 60px
}

.step_2 {
    gap: 10px
}

.m_top {
    margin-top: 64px
}

.step_3 {
    margin-top: 50px
}

.step_4 {
    margin-top: 150px
}

.h4_txt {
    text-align: center
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}

.warning {
    border: 1px solid red !important
}

@media (max-width:750px) {
    .container .card {
        max-width: 350px;
        height: auto;
        margin: 50px 0
    }

    .container .card .right-side {
        width: 100%;
        border-radius: 10px
    }

    .container .card .left-side {
        display: none
    }

    .input_div {
        display: block
    }

    .input_text {
        margin-top: 40px
    }
}

/*** Footer ***/
.footers {
    background-position:
      center top,
      center center;
    background-repeat: no-repeat;
}

.footers .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 40px;
  transition: .3s;
}

.footers .btn.btn-social:hover {
  color: var(--primary);
}

.footers .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: .3s;
}

.footers .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footers .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
  color: var(--secondary);
}

.footers .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footers .copyright a {
  color: var(--light);
}

.footers .footers-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footers .footers-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footers .copyright a:hover,
.footers .footers-menu a:hover {
  color: var(--secondary);
}


.chois:disabled, .chois:read-only {
    opacity: 1;
}
.chois{
    width: 100%;
    color: #726d7b;
}